/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map,
#pano {
  float: left;
  height: 100%;
  width: 100%;
} */

/* body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  width: 100px;
  height: 25px;
  color: black;
  background-color: rgba(243, 208, 12, 0.918);
}

/* button:hover {
  cursor: pointer;
} */

/* img {
  padding-top: 10px;
} */

/* #street-view {
  height: 100%;
  /* Google inverts the colours if you don't have any billing set up.
  We can go around this by adding a counter invert filter on top of the street view */
  /* filter: invert(1);   
} */

button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999;
  color: rgb(209, 209, 18);
  background-color: rgb(36, 131, 185);
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
  width: 20%;
  height: 20%;
}

